name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

# NOVO BLOCO: Dá permissão de escrita ao Action
permissions:
  contents: write 

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
      
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: yagowalter
          outputs: |
            dist/snake-dracula.svg?palette=dracula&color_theme=dracula

      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output 
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
